*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
  background-color: #333;
  color: white;
}

/* Nav Styles */
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    
}
html {
    scroll-behavior: smooth;
}

/* Main section styles */
section {
    margin-top: 60px;
    margin-bottom: -60px;
    padding: 10px 30px;
    height: 300px;
}

footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 40px;
  background-color: #333;
  color: white;
}
/* Responsive design */
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    section {
        margin-top: 90px;
        scroll-margin-top: 90px;
    }
}