*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #f5f7fa;
}
header{
    padding:20px;
    background-color: gray;
}
main{
    flex:1;
}
input {
  display: none; /* hide checkbox */

}

label {
  display: block;
  background: #603eaf;
  color: white;
  padding: 15px;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  background: #eee;
  transition: max-height 0.4s ease;
  padding: 0 15px;
}

/* When checkbox is checked then expand */
input:checked + label + .content {
  max-height: 200px;
  padding: 15px;
}
footer{
    background-color: grey;
    padding: 20px;
}